# Source files
src/
tsconfig.json

# Development and GitHub
.github/
.gitignore
.gitattributes

# Dependencies
node_modules/

# Testing
tests/
__tests__/
*.test.ts
*.spec.ts
coverage/

# OS and Misc
.DS_Store
*.log
